.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding-bottom: 15px;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.entity-card {
  min-width: 18rem;
  max-width: 18rem;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
